<div class="row">
  <div class="col-lg-8">
    <h1>About Resist Games</h1>

    <p>
    Resist Games is a community of  people who believe in activism and expression. We value respect, equality, and freedom.
    We raise awareness of the political landscape with community built games. We empower learning to code.
    </p>
  </div>
</div>
