<div class="row">
  <div class="col-lg-8">
    <h1>About Resist Games</h1>

    <p>
    Resist Games is a community of  people who believe in activism and expression. We value respect, equality, and freedom.
    We raise awareness of the political landscape with community built games. We empower learning to code.
    </p>

    <h3>Who we serve</h3>

    <p>
    We serve our community. Our community is made up of players and creators of games. Our players typically
    reach us through this site or social media. Our creators are students learning to code, designers honing
    their craft, and people making a difference.
    </p>

    <h3>How we serve</h3>

    <p>We make Anti-Trump games easy to build. We use JavaScript and open source technology. We provide SDKs
    (Software Development Kits) to make game building fun and easy at any skill level.
    </p>

    <h3>Why we serve</h3>
    <p>Trump and his administration silence people. People in government, the media, the world. This
    is wrong. This is fascism.</p>

    <p>Resist games is a place where we can be strong together. A place where we can fight against Donald Trump
    through games, collaboration, and community.
    </p>

    <h3>How to help</h3>
    <p>We are effective in large numbers. Join us now and we'll be one more stronger.</p>
    <a href="/join"><button class="btn btn-primary">Join us now</button></a>
  </div>
</div>
