<div class="row">
  <div class="col-lg-8">
    <h1>Subscription Confirmed</h1>
    <p>for joining the Resistance here at Resist Games. Your support is appreciated.
    We will do amazing things together.</p>
  </div>
</div>
