<div class="row">
  <div class="col-lg-8">
    <h1>How to</h1>
    <p>The power of Resist Games comes from working together. Coders, designers, game, and product builders are stronger together.</p>
    <p>If you are <b>a coder</b>, you can build a game in any way you want using HTML5 or FlashPlayer. If you're <b>a designer</b> you can build your game with any images, assets, or fonts you desire. <b>Game/Product builders</b>, the story is yours and yours alone.</p>
    <p>We are pretty flexible with the technology. So no matter your JavaScript Framework of choice, we'll run it here.</p>
    <p>No asset is to large. We use CDNs to distribute all assets worldwide. This means everyone in the world can access your game as quick as you.</p>
    <p>When you join the community you get access to me. I'll do my best to help with your game. And I'll do everything I can to help you publish here at Resist Games.</p>
    <p>With my "Getting Started" guide below, I'll send you the details you need to get started!</p>
  </div>
</div>
