<div class="row">
  <div class="col-lg-8">
    <h1>Join the Resistance</h1>
    <p>We need your help.</p>
    <p>We want you for the Resistance.</p>
    <p>Please give your contact information below so we can call on you for help.</p>
    <script type="text/javascript" src="//workshop.wlaurance.com/form/generate.js?id=14"></script>
  </div>
</div>
