<div class="row">
  <div class="col-lg-8">
    <h1>Thank you</h1>
    <p>for joining the Resistance here at Resist Games. Your support is appreciated.
    We will do amazing things together.</p>
    <h4>While we are waiting for the confirmation email to send...</h4>
    <p>Will you take a moment and share our email form on Facebook?</p>
    <div class="fb-share-button"
      data-href="https://www.resistgames.com/join"
      data-layout="button_count">
    </div>
  </div>
</div>
